*{
    margin:0;
    padding:0;
}
.main{
    position: relative;
}
.container{
    position: fixed;
    border-bottom: 1px;
    box-shadow: 1px 1px 5px grey;
    height:50px;
    width:100%;
    background-color: white;
    z-index: 1;
}
a{
    color: black;
    font-size: 20px;
}
.links{
    margin-left: 8%;
    width:200px;
   
}

.header{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    width:200px;
    margin-top: 10px;
}
.header li{
    float: left;
}

@media screen and (max-width:700px){
    .links{
        margin-left: 1%;
        width:200px;
       
    }
    img{
        width:20%;
        height: 100px;
        float: left;
    }   
}